/*
 *estilo.css
 */

@import url(http://fonts.googleapis.com/css?family=Lato);

* {
    text-decoration:none;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    border:none;
    list-style-type: none;
}

html {
    background-color: #ffffff;
    font-family: 'Lato', verdana, sans-serif;
    color: #8d8d8d;
}

body {
    text-align:center;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    cursor: pointer;
}

#topo{
    width: 100%;
    background-image: linear-gradient(to bottom, #ebebeb, #f0f0f0, #f5f5f5);
    box-shadow: 0px 3px 12px #ccc;
    margin-bottom: 25px;
    height: 36px;
}

#topo .content {
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

#topo .content .logo {
    float: left;
    height: auto;
    margin: 8px 80px 0px 0px;
}

#topo .content .busca {
    float: right;
    height: auto;
    margin: 6px 80px 0px 0px;
}

#topo .content .busca input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3px;
}

#topo .content ul.menu li {
    display: block;
    float: left;
}
#topo .content ul.menu li a {
    display: block;
    text-align: center;
    vertical-align: middle;
    height: 26px;
    padding: 10px 25px 0px 25px;
    color: #9a9a9a;
    font-size: 13px;
}

#topo .content ul.menu li a:hover {
    background-image: linear-gradient(to top, #dadada, #dfdfdf, #ececec);
}

#resultado {
    margin: 0 auto;
    text-align: left;
    width: 80%;
    margin-bottom: 20px;
}

#resultado input[type="text"] {
    min-width: 250px;
    padding: 5px 5px 5px 12px;
    border-radius: 20px;
    background-color: #2576bc;
    font-size: 16px;
    color: #fff;
}

#resultado h1.resultado {
    font-size: 16px;
    margin-top: 10px;
}

#paginacao {
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}

#paginacao .content {
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

#paginacao .content ul.menu li {
    display: block;
    float: left;
}

#paginacao .content ul.menu li a {
    display: block;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    padding: 10px 25px 0px 25px;
    color: #9a9a9a;
    font-size: 13px;
    border-left: 1px solid #ddd;
}

#paginacao .content ul.menu li a:hover {
    height: 28px;
    border: 1px solid #7fb3e1;
    color: #7fb3e1;
}

#paginacao .content .right {
    float: right;
}

#paginacao .content .right ul.numeros li {
    float: left;
}

#paginacao .content .right ul.numeros li a.select {
    display: block;
    width: 10px;
    height: 10px;
    text-align: center;
    color: #9a9a9a;
    font-size: 11px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background: #ccc;
    padding: 5px 6px 8px 5px;
    margin-top: 5px;
}

#paginacao .content .right ul.numeros li a {
    display: block;
    text-align: center;
    color: #7fb3e1;
    font-size: 11px;
    padding: 10px 10px 0px 10px;
}

#paginacao .content .right ul.setas li {
    float: right;
}

#paginacao .content .right ul.setas li a {
    display: block;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    padding: 10px 25px 0px 25px;
    color: #9a9a9a;
    font-size: 13px;
    border-left: 1px solid #ddd;
}

#lista {
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

#lista #item {
    margin: 20px 0px 20px 0px;
    border-bottom: 1px solid #7fb3e1;
}

#lista #item b.titulo {
    display: block;
    color: #7fb3e1;
    font-size: 15px;
    margin-bottom: 10px;
}

#lista #item span.texto {
    display: block;
    color: #9a9a9a;
    font-size: 11px;
    margin-bottom: 20px;
}